.add-movie {
  border: none;
  outline: none;
  border: 1px solid darkred;
  border-radius: 5px;
  color: #fff;
  background-color: darkred;
  position: absolute;
  width: 5.5rem;
  height: 2rem;
  margin-right: 0;
  font-weight: 700;
  margin-top: 10px;
  right: 4rem;
}
