.full-width {
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
}

.header-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1em;
}

.header-title {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.header-image {
  height: 100px;
}

.center-childeren {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}
.footer {
  text-align: center;
}
.footer a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  color: darkblue;
  text-transform: capitalize;
}
