<div class="container width-50 wrapper">
  <form class="form-container" 
  [formGroup]="siginForm"
  (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header class="header-card">
        <div class="header-title">Sign In</div>
        <img
          class="header-image"
          src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/96/writing-hand_emoji-modifier-fitzpatrick-type-1-2_270d-1f3fb_1f3fb.png"
        />
      </mat-card-header>

      <mat-card-content style="width: 30rem">
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field class="" appearance="fill" class="full-width">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>
          </div>
        </div>

        <div class="">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions class="center-childeren">
        <button mat-raised-button color="primary" type="submit">Login</button>
      </mat-card-actions>
      <div class="footer">
        <a (click)="goToRegister()"> Don't have an account? Sign up</a>
      </div>
    </mat-card>
  </form>
</div>
